atlassian-ide-plugin.xml

## Ignore svn files
.svn

## ignore any target dir
target

## Ignore project files created by Eclipse
.settings
.project
.classpath

## Ignore project files created by IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea
