<?xml version="1.0" encoding="UTF-8" ?>
<Configuration strict="true"
							 xmlns="https://logging.apache.org/log4j/2.0/config"
							 xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
							 xsi:schemaLocation="https://logging.apache.org/log4j/2.0/config
           https://raw.githubusercontent.com/apache/logging-log4j2/log4j-2.11.1/log4j-core/src/main/resources/Log4j-config.xsd">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %5p %40.40c - %m%n"/>
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="org.springframework.data.elasticsearch" level="info" additivity="false">
			<AppenderRef ref="console"/>
		</Logger>
		<Logger name="org.testcontainers" level="info" additivity="false">
			<AppenderRef ref="console"/>
		</Logger>
		<Logger name="org.springframework.data.elasticsearch.client.WIRE" level="info" additivity="false">
			<AppenderRef ref="console"/>
		</Logger>
		<Logger name="reactor.netty" level="warn"/>
		<Logger name="io.netty" level="warn"/>

		<Root level="error">
			<AppenderRef ref="console"/>
		</Root>
	</Loggers>
</Configuration>
